/* schedulestyle.css */
/* Body */
body {
  font-size: 16 px;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  text-align: center;
}

div {
  position: relative;
}

section {
  position: absolute;
  left: 27.5%;
  /* transform: translate(-50%, -50%); */
}

/* Table */
table, th, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
}
th {
  background-color: #7cd4ff;
}

table {
  width: 50%;
}
tr:hover {background-color:#b69cf6;}

/* Schedule */
section.Schedule {
  background-color: #ffffff;
}

td.pink {
  background-color: pink;
}

td.grey {
  background-color: grey;
}

#previous {
  position: absolute;
  top: 400px;
  left: 75px;
  }

#next {
  position: absolute;
  top: 400px;
  right: 175px;
}

#legend {
  position: absolute;
  top: 100px;
  right: 175px;
}

/* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced Retrieved on 02/02/2020 */

a:link, a:visited {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
  color: white;
}
